img {
    max-width: 100%; 
    height: 250px;
    display: block;
    margin: 0 auto; 
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .skills-image {
      max-width: 85%; 
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .skills-image {
      max-width: 95%; 
    }
}
@media only screen and (min-width: 1601px) {
    .skills-image {
      max-width: 100%; 
    }
}